In [5]:
import pandas as pd
from mmt.utils import compare
pd.DataFrame(compare("./out"))

,service-rest,laptop-rest,device-rest,rest-service,laptop-service,device-service,rest-laptop,service-laptop,rest-device,service-device,AVG
0,0.4658,0.3156,0.407,0.21,0.2645,0.3109,0.2962,0.3026,0.3091,0.3692,0.32509